.dashboardButton {
  background-color: var(--secondary-color);
  color: var(--ground_color);
  border-radius: 5px;
  font-weight: 600;
  padding: 10px 20px;
  box-shadow: 2px 2px 5px var(--disable-color);
}

.dashboardButton:hover {
  background-color: var(--secondary-hover);
  box-shadow: 3px 3px 5px var(--disable-color);
}

.dashboardSqsBtn {
  background-color: #ee7a00;
  cursor: pointer;
  border: none;
  border-radius: 17px;
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 8px 30px;
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.dashboardSqsBtn:hover {
  background-color: #ee7a00;
}

.dashboardSqsBtnIcon {
  margin-left: 5px;
  font-size: 24px;
}
